extends layout

block content
  <div class="container jumbotron  top-30r">
    <h1 class="display-5 border-bottom bottom-30">メイドログイン</h1>
    <form method="post" action="maid_login">
      <div class="form-group">
        <label>ユーザーID</label>
        <input type="text" class="form-control" placeholder="ユーザーID" name="lid">
      </div>
      <div class="form-group">
        <label>パスワード</label>
        <input type="password" class="form-control" placeholder="パスワード" name="lpw">
      </div>
      <button type="submit" class="btn btn-default">送信</button>
    </form>
  </div>