extends layout

block content
  <div class="container  top-30">
  <h2 class="display-6 border-bottom bottom-30">#{title}へようこそ！</h1>
  <h4 class="display-5 border-bottom bottom-30">まずはメイド登録をお願いします</h1>
    <form class="form-horizontal" action="/maid_register" role="form" method="post">
      <div class="form-group row">
        <label class="col-sm-3 text-right">名前</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="name" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 text-right">ユーザーID</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="user_id" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 text-right">パスワード</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="pass" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 text-right">年齢</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="age" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="text-right col-sm-3"><b>性別</b></label>
        <div class="t-30">
          <input type="radio" class="" value="男" name="gender" id="man">
            <label for="man">男性</label>
        </div>
        <div class="t-30">
          <input type="radio" value="女" name="gender" id="woman">
          <label for="woman">女性</label>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 text-right" for="">希望年収</label>
        <div class="col-sm-5">
          <select name="income" class="">
            <option selected></option>
            <option value="~100万">~100万</option>
            <option value="~200万">~200万</option>
            <option value="~400万">~400万</option>
            <option value="~700万">~700万</option>
            <option value="700万以上">700万以上</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 text-right" for="">経歴</label>
        <div class="col-sm-9">
          <textarea class="form-control" name="career" rows="5" required></textarea>
        </div>
      </div>
      
      <div class="form-group row">
        <label class="col-sm-3 text-right" for="">アピールポイント</label>
        <div class="col-sm-9">
          <textarea class="form-control" name="appeal" rows="5" required></textarea>
        </div>
      </div>


      <div class="form-group text-right">
        <button class="btn btn-primary">送信</button>
      </div>
    </form>
  </div>